*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
input{
    border: none;
    outline: none;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
}